$mysprite-layout			  :	horizontal;
$sprites-spacing              : 1px;
$sprites-position			  : 50%;
$sprites-sprite-dimensions    : true;
$default-border-radius        : 10px;
$icons						  : sprite-map("Polaroid-Photo-Stack-Sprites/*.png");